.imageTop {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.imageTop:lang(en) {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}
.imageTop img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.socialBody {
  display: block;
  width: 80%;
  margin: auto;
  border-left: 5px solid #efac1f;
  border-right: 5px solid #efac1f;
}

.part1 {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.part1 h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.part1 p {
  display: block;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
}

.part2 {
  display: block;

  margin-top: 70px;
  direction: ltr;
}

.part2 img {
  width: 700px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.part22 h3 {
  width: 80%;
  margin: auto;
  font-size: 25px;
  margin-bottom: 20px;
  direction: rtl;
}

.part22 p {
  width: 80%;
  margin: auto;
  display: block;
  line-height: 40px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
  direction: rtl;
}
.part2:lang(en) {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  direction: ltr;
}

.part2:lang(en) img {
  width: 700px;
  height: auto;
  display: block;
  margin: auto;
  margin-left: 0;
  direction: ltr;
}

.part22:lang(en) h3 {
  width: 80%;
  margin: auto;
  font-size: 25px;
  margin-bottom: 20px;
  direction: ltr;
}

.part22:lang(en) p {
  width: 80%;
  margin: auto;
  display: block;
  line-height: 40px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
  direction: ltr;
}

.historyImage {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.cardList {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.card {
  width: 500px;
  height: 500px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  perspective: 600px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.cardFlipped {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  perspective: 600px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transform: rotateY(180deg);
}
.cardFaceFront {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 42%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardFaceBack {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #414142;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #cbccce;
}

@media screen and (max-width: 1300px) {
  .imageTop {
    margin-top: 72px;
  }

  .part2 {
    display: block;
  }
  .part2:lang(en) {
    display: block;
  }
  .cardList {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 992px) {
  .part2 img {
    width: 100%;
    height: auto;
  }
  .part2 img:lang(en) {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 776px) {
  .imageTop {
    margin-top: 50px;
  }
  .imageTop:lang(en) {
    margin-top: 50px;
  }
  .card {
    width: 250px;
    height: 250px;
  }
  .cardFlipped {
    width: 250px;
    height: 250px;
  }
  .cardFaceFront {
    font-size: 20px;
  }
  .cardFaceBack {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
}
